.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 56px;
}

.toolbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar-logo {
    margin-left: 1rem;
}
.logo {
    font-weight: bold;
}

.toolbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar-navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar-navigation-items li {
    padding: 0 0.5rem;
}

.toolbar-navigation-items a {
    color: white;
    text-decoration: none;
}
.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
    color: lightgreen;
    font-size: large;
}

@media (max-width: 760px) {
    .toolbar-navigation-items {
        display: none;
    }
}

@media (min-width: 761px) {
    .toolbar-toggle-button {
        display: none;
    }

    .toolbar-logo {
        margin-left: 0;
    }
}